
@font-face {
  font-family: 'bdi';
  src: url('bdi?#iefix') format('embedded-opentype'),  url('bdi.woff') format('woff'), url('BodoniW01-BookItalic.ttf')  format('truetype'), url('bdi.svg#bdi') format('svg');
  font-weight: normal;
  font-style: normal;
}
